:root{
--cazul: #0A3871;
--cblanco: #FFFFFF;
--cazulligero: #D8DFE8;

}

html{
    width: 100%;
    height: 100vh;
    font-family: "inter";
    background: #f4f4fc;
    color: var(--cazul);

}

body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas:
        "encabezado encabezado"
        "contenido contenido"
        "contenido contenido"
        "contenido contenido"
        "pie pie";
}

header{
    grid-area: encabezado;
    display: grid;
    grid-template-areas: "logo titulo titulo";
    align-items: center;
}

.logo{
    padding: 10px;
    width: 100px;
    height: 40px;
    grid-area: logo;
}

.titulo{
    grid-area: titulo;
    text-align: center;
}

main{
    grid-area: contenido;
    display: grid;
    grid-template-areas: "secc1 secc1 secc2";
}

.sec1{
    grid-area: secc1;
}

.text-area{
    width: 90%;
    height: 80%;
    margin-left: 50px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    color: var(--cazul);
    text-transform: lowercase;
    box-sizing: border-box;
}

.informacion{
    margin: 10px 50px;
    font-size: 13px;
}

.botones{
    margin: 10px 50px;
    display: flex;
    justify-content: space-evenly;
}

.botones button{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    margin: 0 5px;
    
}

.btn-encriptar, .btn-limpiar{
    background: var(--cazul);
    color: var(--cblanco);
    border: none;
}

.btn-desencriptar{
    background: var(--cazulligero);
    border: 1px solid var(--cazul);
}

.sec2{
    grid-area: secc2;
}

.recuadro{
    background: var(--cblanco);
    width: 90%;
    height: 100%;
    margin: 0px 0px 0 50px;
    padding: 20px;
    border-radius: 15px;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mensaje{
    height: 80%;
    border: none;
    color: var(--cazul);
}

.copiar{
    background-color: var(--cblanco);
    border: 1px solid var(--cazul);
    color: var(--cazul);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
}


footer{
    grid-area: pie;
}