:root{
--cazul: #0A3871;
--cblanco: #FFFFFF;
--cazulligero: #D8DFE8;

}

html{
    width: 100%;
    height: 100vh;
    font-family: "inter";
    background: #f4f4fc;
    color: var(--cazul);

}

body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas:
        "encabezado encabezado"
        "contenido contenido"
        "contenido contenido"
        "contenido contenido"
        "pie pie";
}

header{
    grid-area: encabezado;
    display: grid;
    grid-template-areas: "logo titulo titulo";
    align-items: center;
}

.logo{
    padding: 10px;
    width: 100px;
    height: 40px;
    grid-area: logo;
}

.titulo{
    grid-area: titulo;
    text-align: center;
}

main{
    grid-area: contenido;
    display: grid;
    grid-template-areas: "secc1 secc1 secc2";
    margin: 0 50px;
    gap: 40px;
}

.sec1{
    grid-area: secc1;
}

.text_area{
    width: 100%;
    height: 80%;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    color: var(--cazul);
    text-transform: lowercase;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 0px #A3A4AF;
}

.informacion{
    margin: 10px 0px;
    font-size: 13px;
}

.ico{
    width: 13px;
}

button{
cursor: pointer;
}

button:hover{
    background: #000000;
    color: var(--cblanco);
    border: none;
    transition: all 1s ease;
}

.botones{
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.botones button{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    margin: 0 5px;
    
}

.btn-encriptar, .btn_limpiar{
    background: var(--cazul);
    color: var(--cblanco);
    border: none;
}

.btn_desencriptar{
    background: var(--cazulligero);
    border: 1px solid var(--cazul);
}

.sec2{
    grid-area: secc2;
}

.recuadro{
    background: var(--cblanco);
    width: 90%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px 0px #A3A4AF;
    text-align: center;
}

.muneco{
    position: fixed;
    margin: 50px;
}
.mensaje{
    height: 80%;
    border: none;
    color: var(--cazul);
    font-size: 20px;
    outline: none;
}

.copiar{
    background-color: var(--cblanco);
    border: 1px solid var(--cazul);
    color: var(--cazul);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
}


footer{
    grid-area: pie;
    background: var(--cazul);
    color: var(--cblanco);
    text-align: center;
    font-size: 10px;
    margin-top: auto;
}





.ocultar{
    display: none;
}






@media screen and (max-width: 900px) {
    body{
        grid-template-areas:
        "encabezado"
        "contenido"
        "pie";

    gap: 20px;
    }

    main{
        grid-template-areas:
        "secc1"
        "secc2";
    }

    aside p{
        font-size: 25px;
    }

    .text_area{
        font-size: 25px;
    }

    .recuadro{
        width: 100%;
        height: 90%;
    }

    .muneco{
        position: static;
        margin: auto;
    }

    footer{
        font-size: 15px;
    }

}